/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h4 {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header i {
  position: absolute;
  margin: -8px -20vw;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  header i {
    position: absolute;
    margin: -8px -40vw;
  }
}

.btn {
  border: 0 solid;
  border-radius: 25px;
  padding: 13px 18.75px;
  color: #fff;
  background: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
  margin: 27px auto;
  display: block;
}
.btn:hover {
  background: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1024px) {
  img {
    height: 50vh;
    object-fit: cover;
  }
}
@media only screen and (min-width: 600px) {
  img {
    height: 30vh;
    object-fit: cover;
  }
}

.bloc {
  position: relative;
  margin-top: -40px;
  padding-bottom: 40px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 1024px) {
  .bloc {
    position: relative;
    margin: -40px auto 0 auto;
    width: 73%;
  }
}
.bloc .name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.bloc h1 {
  padding-right: 20px;
}
.bloc h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  border-bottom: solid #99e2d0;
}
.bloc .menu {
  margin: 42px 3vw;
}
@media only screen and (min-width: 1024px) {
  .bloc .menu {
    margin: 42px 10vw;
  }
}
.bloc .menu ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.bloc .menu ul li {
  height: 75px;
  margin-top: 12px;
  padding: 12px 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bloc .menu ul li i {
  display: none;
}
.bloc .menu .price {
  display: flex;
  justify-content: space-between;
}
.bloc .menu span {
  font-weight: bold;
}

footer {
  background: #353535;
  color: #fff;
  padding: 4vw;
}
footer a {
  color: #fff;
  padding-bottom: 33px;
}
footer i {
  width: 30px;
}
footer h4 {
  padding-bottom: 16px;
}

@media only screen and (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85%;
  }
  footer li {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 20%;
  }
}

/*# sourceMappingURL=restaurant.css.map */
