footer {
    background: $dark-grey;
    color: $white;
    padding: 4vw;

    a {
        color: $white;
        padding-bottom: 33px;
    }

    i {
        padding-right: 4%;
    }

    h4 {
        padding-bottom: 16px;
    }
}
