footer {
    background: $color-footer;
    color: $white;
    padding: 4vw;

    a {
        color: $white;
        padding-bottom: 33px;
    }

    i {
        width: 30px;
    }

    h4 {
        padding-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 85%;
    }
    footer li {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 20%;
    }
}
