header {
    @include centre;
    height: 63px;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    i {
        position: absolute;
        top: 21px;
        left: 24px;
        color: #000;
    }
}
