button {
    border: 0 solid;
    border-radius: 25px;
    padding: 13px 18.75px;
    color: #fff;
    background: linear-gradient(to top, $color-primary, $color-secondary);
    margin-bottom: 57px;
    margin-top: 27px;
}
