.grey {
    color: $color-icone;
    width: 35px;
    @media only screen and (min-width: 769px) {
        width: 2.5vw;
    }
}

.purple {
    color: $color-primary;
    width: 35px;
    @media only screen and (min-width: 769px) {
        width: 2.5vw;
    }
}
