$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$dark-grey: #353535;
$light-grey: #f6f6f6;
$white: #fff;
$black: #000;
$new: #008766;
$color-form: #eaeaea;
$color-icone: #7e7e7e;
